/* block physio */
*{margin:0;padding:0;border: none;}
html,body,div,form,a,header,footer{display:flex;align-items:center;justify-content:space-around}
html,body{flex-direction: column;}
/* text physio */
h1,h2,h3,h4,h5,h6{text-align: center;}
p{text-align: justify;}

@media screen and (max-width:50vh) {html{font-size: 3.21vmax;} form{height: 3vmax;}form input{height: 2vmax;}form input[type="submit"]{height: 2vmax;width: 2vmax; font-size: 1.7vmax;color: white;}}
@font-face{font-family:'Noton';src:url('http://rohhthone.com/noton/noton-regular_v1.0.2.ttf');}