/* box physio */
*{margin:0;padding:0;border:none;outline:0;}
html,body,div,form,a,header,footer{display:flex;align-items:center;justify-content:space-around}
html,body{flex-direction: column;}
/* text physio */
h1,h2,h3,h4,h5,h6{text-align: center;}
p{text-align: justify;}

/* physio style */
/* I */
/* II */
html.♥1 * {cursor: default;}
html.♥1 > body {max-width:80vmin; letter-spacing: 0.2000vmin;}
/* III */
html.♥1 > body > header {border-radius: 0 0 2.8vmin 2.8vmin; width: 80vmin; background-color: rgba(255, 255, 255, 0.2); box-shadow: 0 0 0 0.7vmin #000000, 0 0 0 0.14vmin #FFFFFF inset;height: 7vmin;}
html.♥1 > body > div {background-color: rgba(255, 255, 255, 0.2); box-shadow: 0 0 0 0.7vmin rgba(0, 0, 0, 0.2), 0 0 0 0.14vmin rgba(255, 255, 255, 0.2) inset; border-radius: 2.8vmin; padding: 1.4vmax;margin: 1.4vmin;}
/* IIII */
html.♥1 > body > div > div {background-color: rgba(255, 255, 255, 0.2); box-shadow: 0 0 0 0.3vmin rgba(0, 0, 0, 0.2), 0 0 0 0.07vmin rgba(255, 255, 255, 0.2) inset; border-radius: 1.9vmin; padding: 1.2vmax;margin: 1.2vmin;}
/* IIIII */
html.♥1 > body > div > div > div{background-color: rgba(255, 255, 255, 0.2); box-shadow: 0 0 0 0.1vmin rgba(0, 0, 0, 0.2), 0 0 0 0.2vmin rgba(255, 255, 255, 0.2) inset; border-radius: 1vmin; padding: 0.2vmax;margin: 0.2vmin;}
/* IIIIII */
html.♥1 input{background-color: rgba(255, 255, 255, 0.2); box-shadow: 0 0 0 0.2vmin rgba(0, 0, 0, 0.2), 0 0 0 0.1vmin rgba(255, 255, 255, 0.2) inset; }html.♥1 input:focus{box-shadow: 0 0 0 0.04vmin #FFFFFF inset;}
html.♥1 input:hover, html.♥1 button:hover, html.♥1 form:hover {box-shadow: 0 0 0 0.2vmin rgba(0, 0, 0, 0.2), 0 0 0 0.1vmin rgba(255, 255, 255, 0.2) inset;} html.♥1 a:any-link{text-decoration: none;}.♥:hover, .♥{all:unset}
/* NOTON v1.2 Font Family ♥ */
@media screen and (max-width:50vh) {html{font-size: 3.21vmax;}}
@font-face{font-family:'Noton';src:url('http://rohhthone.com/noton/noton-regular_v1.0.2.ttf');}