/* Basics */
*{all: unset;margin: 0; padding: 0;}

/* Blocks */
style{display: none;}
script{display: none;}

@import "https://rohhthone.com/API/VOID/form.css";
@import "https://rohhthone.com/API/VOID/variable.css";
